@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.btn {
  background-color: beige;
  padding: 1em 2.5em;
  border-radius: 2em;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.dashboard {
  margin: 0 auto;
  width: 80%;
  min-height: 400px;
  background-color: aquamarine;

  display: flex;
}

.info-box {
  padding: 1em;
  background-color: rgb(145, 145, 217);
  border-radius: 1em;
  margin: 0 0 1em 0;
  width: 50%;
}

.side-col {
  background-color: bisque;
  width: 25%;
}

.main-col {
  width: 50%;
}

.col-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 1em 0;
  flex-wrap: wrap;
}

@media (max-width: 775px) {
  .dashboard {
    flex-direction: column;
    color: red;
    flex-wrap: nowrap;
  }

  .side-col {
    width: 100%;
  }

  .main-col {
    width: 100%;
  }

  .dashboard > div:not(:last-child) {
    margin: 0 0 2em 0;
  }
}
