@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

.btn {
  background-color: #ae8799;
  padding: 1em 2.5em;
  border-radius: 2em;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-image: url("../../public/egypt.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.dashboard {
  margin: 0 auto;
  width: 80%;
  min-height: 400px;
  background-color: #ffa737;

  opacity: 0.9;
  display: flex;
  padding: 1em;
  border-radius: 1em;
}

.info-box {
  padding: 1em;
  background-color: rgb(145, 145, 217);
  border-radius: 1em;
  margin: 0 0 1em 0;
  width: 50%;
}

.side-col {
  background-color: bisque;
  width: 25%;
  border-radius: 2em;
  padding: 0 1em;
}

.main-col {
  width: 50%;
  padding: 0 1em;
}

.col-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 1em 0;
}

.col-header-title {
  margin-bottom: 1em;
}

.ware-item-container {
  display: flex;
  margin: 0 0 1em 0;
  text-align: center;
  vertical-align: middle;
  line-height: 2;
}

.ware-item-btn {
  color: aliceblue;
  background-color: black;
  margin: 0 1em;
  padding: 0.2em 0.4em;
  border-radius: 1em;
  line-height: 0.4;
}

.wares-container {
  flex-wrap: wrap;
}

table {
  table-layout: auto;
}

.end-game-button {
  background-color: #ae8799;
  padding: 1em 2em;
  border-radius: 2em;
}

.end-col-body {
  text-align: center;
}

@media (max-width: 775px) {
  .dashboard {
    flex-direction: column;
    color: red;
    flex-wrap: nowrap;
  }

  .side-col {
    width: 100%;
  }

  .main-col {
    width: 100%;
  }

  .dashboard > div:not(:last-child) {
    margin: 0 0 2em 0;
  }
}
